
<div data-sticky-container id="nav">
  <div class="title-bar" data-sticky data-top-anchor="header:bottom" style="width:100%">
			<div class="menu expanded">
	      <div><a href="/#header" >Home</a></div>
	      <div><a href="/#therapy" >Therapie</a></div>
	      <div><a href="/#about" >Heilpraktiker</a></div>
	      <div><a href="/#contact" >Kontakt</a></div>
	    </div>
  </div>
</div>
<!--
<div class="data-sticky-container">
	<div class="data-sticky" data-options="marginTop:0;" style="width: 100%">
  </div>
</div>
	</div>
    <div class="title-bar-left">one</div>
    <div class="title-bar-right">two</div>
-->