<!DOCTYPE HTML>
<html lang="{{ entry.lang if entry else conf.lang }}">

<head>
  {% block head -%}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <link media="all" rel="stylesheet" href="{{  env.path + '/simple_light.css' }}" />
  <link href="/favicon.ico" rel="icon" sizes="16x16 32x32" />
  {% if 'sitemap' in env.views -%}
    <link href="{{ env.views.sitemap.path }}" type="application/xml" title="Sitemap">
  {%- endif%}
  <link href="{{ env.path + '/' }}" rel="home start" />
  <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<meta name="description" content="{% block description -%}{%- endblock %}" />
  <meta name="keywords" content="{% block keywords -%}{%- endblock %}" />
  {%- endblock %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <img class="logo_image" src="{{ env.path + '/logo.png' }}"></img>
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1 class="logo_colour"><a href="/"><span class="logo_colour">Heilpraktiker</span> Frank Schneider</a></h1>
        <h2>Chinesische Medizin in Leipzig</h2>
      </div>
      <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{ env.path + '/therapy/' }}" rel="static">Therapie</a></li>
          <li><a href="{{ env.path + '/about/' }}" rel="static">Frank Schneider</a></li>
          <li><a href="{{ env.path + '/contact/' }}" rel="static">Kontakt</a></li>
          <li><a href="{{ env.path + '/blog/' }}" rel="home start">Blog</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar group">
        <!-- insert your sidebar items here -->
        {% block sidebar %}

        <h3>Themen</h3>
        <ul>
        {% for tag in env.tag_cloud %}
          <li class="tag-{{ tag.step }}"><a href="/blog/tag/{{ tag.name | safeslug }}/">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>

        <h1>Blog Links</h1>
        <ul>
          <li><a href="{{ env.path + '/blog/articles/' }}" rel="contents">Archiv</a></li>
          <li><a href="{{ env.path + '/blog/atom/' }}" rel="alternate">atom</a></li>
        </ul>
        <!--
        <h1>Suche</h1>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
        -->
        {% endblock %}
      </div>
      <div id="content">
        {%- block content -%}
        {%- endblock -%}
      </div>
    </div>
    <div id="footer">
      <p>
        <a href="/">Home</a> |
        <a href="/kontakt">Kontakt</a> |
        <a href="/impressum/">Impressum</a>
      </p>
      <p>Content&copy; Frank Schneider | 
      <!--
        <a href="http://validator.w3.org/check?uri=referer">HTML5</a> |
        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
      -->
        <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a> |
        Powerd by <a href="http://posativ.org/acrylamid">Acrylamid</a>
      </p>
    </div>
  </div>
  {% block script_foot %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42464924-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endblock %}
</body>
</html>
