h1,h2,h3,h4,h5,h6 {
	font-family: 'Work Sans', sans-serif;
	color: rgb(255, 255, 255);
}
body {
    font-family: 'Palanquin', sans-serif;
	background-color: rgb(124, 124, 124);
	color: rgb(255, 255, 255);
}
body a {
	color: rgb(180, 180, 180);
}
img {
	border-radius: 0.2em;
}
header, #therapy, #about, #contact, #info {
	padding-top: 4em;
}
#nav {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: rgb(238, 238, 238);
	z-index: +1;
}
#nav a {
	color: rgb(43, 166, 203);
}
#therapy {
	background-color: rgb(166, 145, 82);
}
#info {
	background-image: url(/static/img/moxa_1200.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0.2em;
	z-index: -1;
}
#about {
	background-color: rgb(208, 166, 41);
}
#contact {
	background-color: rgb(250, 187, 0);
}
#contact * {
	color: rgb(20, 20, 20);
}