<!DOCTYPE html>
<html lang="de"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Blog</title>
  <link media="all" href="index-Dateien/style.css" rel="stylesheet">
  <link href="http://localhost:8000/favicon.ico" rel="shortcut icon">
    <link href="http://localhost:8000/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">
  <link href="http://localhost:8000/" rel="home start">
  <link href="http://localhost:8000/atom/" type="application/atom+xml" rel="alternate" title="Atom Feed">
  <link href="index-Dateien/css.css" rel="stylesheet" type="text/css"> 
  <link href="http://localhost:8000/rss/" type="application/rss+xml" rel="alternate" title="RSS Feed">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <img class="left" src="index-Dateien/logo.png">
    <h1 class="blogtitle">heilpraktiker-frank-schneider.de<br>
    <a href="http://localhost:8000/" rel="home start">Blog</a></h1>
    <div class="clearfix"></div>
    <nav>
      <ul>
        <li><a href="http://localhost:8000/" rel="home start">blog</a></li>
        <li><a href="http://localhost:8000/atom/" rel="alternate">atom</a></li>
        <li><a href="http://localhost:8000/rss/" rel="alternate">rss</a></li>
        <li><a href="http://localhost:8000/articles/" rel="contents">articles</a></li>
      </ul>
    </nav>
  </header>
    
        <article>
    <header>
        <time datetime="2013-06-20">20.06.2013, 16:41</time>
        <h1>
            <a href="http://localhost:8000/2013/speisen-die-fuer-kuehlung-sorgen/" rel="bookmark canonical">Speisen die für Kühlung sorgen</a>
        </h1>
    </header>
    <p>Wer mit der Hitze keine Probleme hat wird natürlich Essen worauf 
er Hunger hat, aber für die Menschen die mit der Hitze zu kämpfen haben 
oder sich einfach angemessen Ernähren wollen, habe ich hier ein Paar 
Er­näh­run­s­tipps.</p>
<p>Die Er­näh­runs­leh­re der ci­hi­ne­si­schen Medizin ist eine von 
fünf Therapie-Säulen auf die sich die Chi­ne­si­sche Medizin stützt.</p>
<p>Wenn die Ta­ges­tem­pe­ra­tu­ren dauerhaft über dreißig Grad sind, so
 wie zur Zeit, ist der Hunger bei den meisten Menschen eher gemäßigt. 
Ohne Nah­rungs­auf­nah­me fehlt dem Körper jedoch schnell die Energie um
 mit der Hitze fertig zu werden. Dann ist es ratsam Nah­rungs­mit­tel zu
 sich nehmen, die Energie liefern <span>…<a href="http://localhost:8000/2013/speisen-die-fuer-kuehlung-sorgen/" class="continue">continue</a>.</span></p>
    <footer>
        
        
            <p>tagged as
                <a href="http://localhost:8000/tag/ernaehrung/" rel="tag">Ernährung</a>
                
            </p>
        
    </footer>
    <div class="comments"></div>
</article>
    
    
    
<footer>
    
    
    <p>written by <a href="mailto:info@heilpraktiker-frank-schneider.de">Frank Schneider</a></p>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/" rel="copyright license">
        <img src="index-Dateien/88x31.png" alt="by-nc-sa">
    </a>
    
    

  </footer>

</body></html>