<!doctype html>
<html lang="de-DE">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Heilpraktiker Frank Schneider, Leipzig, Therapie">
    <meta name="keywords" content="TCM,Chinesische-Medizin,Therapie,Leipzig,Plagwitz,Lindenau">
    <title>TCM - Praxsis</title>
    <meta name="author" content="Frank Schneider">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}">
    <style>
      body,h1,h2{font-family: "Raleway", sans-serif}
      body, html {height: 100%}
      p {line-height: 2}
      .bgimg, .bgimg2 {
          min-height: 100%;
          background-position: center;
          background-size: cover;
      }
      .bgimg {background-image: url("{{ url_for('static', filename='img/IMG_1801.JPG') }}")}
      .bgimg2 {background-image: url("{{ url_for('static', filename='img/IMG_1786_small.png') }}")}
    </style>
    <script>
    /*
    try {
      for (var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){
          var lastpass_f = document.forms[lastpass_iter];
          if(typeof(lastpass_f.lpsubmitorig)=="undefined"){
            if (typeof(lastpass_f.submit) == "function") {
              lastpass_f.lpsubmitorig = lastpass_f.submit;
              lastpass_f.submit = function(){
                var form = this;
                try {
                  if (document.documentElement && 'createEvent' in document){
                    var forms = document.getElementsByTagName('form');
                  for (var i=0 ; i<forms.length ; ++i)
                    if (forms[i]==form){
                      var element = document.createElement('lpformsubmitdataelement');
                      element.setAttribute('formnum',i);
                      element.setAttribute('from','submithook');
                      document.documentElement.appendChild(element);
                      var evt = document.createEvent('Events');
                      evt.initEvent('lpformsubmit',true,false);
                      element.dispatchEvent(evt);
                      break;
                    }
                  }
                } catch (e) {}
                try {
                  form.lpsubmitorig();
                } catch (e) {}
              }
            }
          }
        }
      } catch (e) {}
      */
    </script>
  </head>
  <body>
    <!-- Header / Home-->
    <header class="w3-display-container bgimg w3-wide w3-teal" id="home">
      <div class="w3-display-middle w3-text-white w3-center">
        <h1 class="w3-jumbo">Chinesische Medizin</h1>
        <h2>Frank Schneider</h2>
        <h2><b>Heilpraktiker</b></h2>
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="Logo Heilpraktiker Frank Schneider" style="width:70%">
      </div>
    </header>

    <!-- Navbar (sticky bottom) -->
    <div class="w3-bottom w3-hide-small">
      <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
        <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
        <a href="#therapy" style="width:25%" class="w3-bar-item w3-button">Therapie</a>
        <a href="#about" style="width:25%" class="w3-bar-item w3-button">Raum</a>
        <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">Kontakt</a>
      </div>
    </div>

    <!-- Therapy -->
    <div class="w3-container w3-black" id="therapy">
      <div class="w3-content">
        <h1 class="w3-center w3-text-grey"><b>Therapie</b></h1>
        <img class="w3-round" src="{{ url_for('static', filename='img/IMG_1747.JPG') }}" style="width:100%;margin:32px 0">
        <p><i>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</i>
        </p><br>
        <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Räumlichkeiten</a></p>
      </div>
    </div>

    <!-- Background photo -->
    <div class="w3-display-container bgimg2">
      <div class="w3-display-middle w3-text-white w3-center">
        <h1 class="w3-jumbo">Gezielte Wärme</h1><br>
        <h2>Beifus kommt oft zum Einsatz.</h2>
        <p>Diese Art der Behandlung ist nicht nur sehr effektiev, sie ist außerdem sehr entspannend.</p>
      </div>
    </div>

    <!-- About information -->
    <div class="w3-container w3-padding-64 w3-amber w3-center" id="about">
      <div class="w3-content">
        <h1 class="w3-text-grey"><b>Raum</b></h1>
        <img class="w3-round-large w3-grayscale-min" src="{{ url_for('static', filename='img/IMG_1839.JPG') }}" style="width:100%;margin:64px 0">
        <div class="w3-row">
          <div class="w3-half">
            <h2>When</h2>
            <p>Wedding Ceremony - 2:00pm</p>
            <p>Reception &amp; Dinner - 5:00pm</p>
          </div>
          <div class="w3-half">
            <h2>Where</h2>
            <p>Some place, an address</p>
            <p>Some where, some address</p>
          </div>
        </div>
      </div>
    </div>

    <!-- RSVP section -->
    <div class="w3-container w3-padding-64 w3-orange w3-center w3-wide" id="rsvp">
      <h1 class="w3-wide">Wünschen Sie einen Termin?</h1>
      <p class="w3-large">Ich freue mich auf Sie.</p>
      <p class="w3-xlarge">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-lime" style="padding:8px 60px">KONTAKT</button>
      </p>

    </div>

    <!-- RSVP modal -->
    <div id="id01" class="w3-modal" style="display: none;">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
        <div class="w3-container w3-white w3-center">
          <h1 class="w3-wide">Kontakt</h1>
          <p>Hinterlassen Sie mir bitte eine <b>Telefonnummer</b>, mit einer <b>Zeit</b> in der Sie <b>gut erreichbar</b> sind, dann können wir den Termin am Telefon besprechen.</p>
          <form lpformnum="6">
            <input class="w3-input w3-border" placeholder="Name" name="name" type="text">
            <input class="w3-input w3-border" placeholder="Telefonnummer" name="phone" type="text">
            <input class="w3-input w3-border" placeholder="Email, wenn Ihnen das lieber ist" name="email" type="email">
            <textarea class="w3-input w3-border" placeholder="Nachricht" name="message" rows="4" cols="50"></textarea>
            <!--
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Senden</button>
            -->
            <button onclick="sendMail" type="button" class="w3-button w3-block w3-green">Senden</button>

          </form>
          <p><i>Ihr Frank Schneider</i></p>
          <!--
          <div class="w3-row">
            <div class="w3-half">
              <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Senden</button>
            </div>
            <div class="w3-half">
              <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a>; &#169 2017 Frank Schneider</p>
    </footer>
    <div class="w3-hide-small" style="margin-bottom:32px">&nbsp;</div>

  </body>
</html>
