{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
{% endblock head %}

{% block content %}

    <div class="expanded row" id="therapy">
      <div class="row">
        <div class="small-12 column">
          <h1>Therapie</h1>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 column">

          <p>Das <b>Plus</b> stehet einerseits für weitere <a href="/#methods">Therapiemethoden</a> und andererseits für eine besonders sanfte Akupunktur.</p>

          <p>Moderne Fertigungstechiken ermöglichen heute so dünne Akupunkturnadeln, dass selbst Kinder diese kaum mehr als Schmerz empfinden.</p>

        </div>
        <div class="small-12 medium-6 column">
          <img alt="Therapieraum von Frank Schneider" src="{{ url_for('static', filename='img/room_0768.png') }}">
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 column">
          <article>

            <h2>Chinesische Medizin</h2>

            <p>Die <i>Chinesische Medizin </>ist eine, seit mehr als zweitausend Jahren stetig weiterentwickelte, Anwendungsmedizin. Es ist eine energetische Medizin bei der der aktuelle Zustand des Menschen im Mittelpunkt steht. Körper und Geist sind eine Einheit.</p>

            <h3 id="methods">Methoden</h3>

          <p>Außer Akupunktur biete ich noch folgende Therapieformen an.</p>

          <ul>
            <li>Tuina</li>
            <li>Ohrakupunktur</li>
            <li>Chinesische Diagnostik und Westliche Kräuter in der Kinderheilkunde</li>
          </ul>

          <p> <b>Tuina </b>ist eine manuelle Therapiemethode und bildet eine der fünf Therapiesäulen der <i>Chinesischen Medizin</i>. In der Tuinatherapie werden die Leitbahnen und Punkte manuell stimmulieret. Diese Therapiemethode ist mit der westlichen Physotherapie eher nicht vergleichbar. Tuina funktioniert ähnlich wie die Akupunktur und es können auch innere Krankheiten therapiert werden.</p>

          </article>
        </div>
        <div class="small-12 medium-6 column">
          <h2>Anwendung</h2>

          <p>Beispiele für gut therapierbare Beschwerden sind Schmerztherapien wie Rückenschmerzen oder Kopfschmerzen aber auch Infektanfälligkeit, Atemwegserkrankungen, Postoperative Beschwerden, Rauchentwöhnung und vieles mehr. Die Anwendungsgebiete für Chinesische Medizin sind breit gefächert. </p>
        </div>
      </div>
    </div>

    <div class="row collapse text-center" id="info">
      <div class="column">
      <h1 class="">Gezielte Wärme</h1><br>
      <h2>Beifuß kommt oft zum Einsatz.</h2>
      <p>Diese Wärmebehandlung an Akupunkturpunkten ist effektiv und entspannend.</p>
      </div>
    </div>

    <!-- About information -->
    <div class="expanded row" id="about">
      <div class="row">
        <div class="small-12 medium-9 column">
          <article>
            <h1>Therapeut</h1>
            <p>Frank Schneider ist Heilpraktiker seit dem 26. Mai 2008 und schloss am 31.01.2011 die dreijährige Ausbildung in <i>Klassischer Akupunktur und Traditioneller Chinesischer Medizin</i> ab. Die Ausbildung umfasste, inclusive der klinischen Supervisionsstunden 1270 Stunden. Außerdem hat er eine 140 Stunden umfassende Ausbildung in Tuina.</p>

            <p>Durch die stete Teilnahme an Kursen und Weiterbildungen erweitert er sein Behandlungsspektrum.</p>

          </article>
        </div>
        <div class="small-12 medium-3 column">
          <img src="{{ url_for('static', filename='img/therapeut2_0512.png') }}" alt="Heilpraktiker Frank Schneider">
        </div>
      </div>
    </div>

    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <div class="expanded row" id="contact">
      <div class="row" >
        <div class="small-12 medium-6 column">
          <article>
            <h2>Kosten</h2>

            <p>Für die <b>Erstanamnese</b> sollten bis zu zwei Stunden eingeplant werden. Die Kosten dafür liegen bei 69 - 92€.<br>
            Folgende <b>Behandlungen</b> dauern dann etwa eine Stunde und werden mit 46€ berechnet. Kinder unter 14 Jahren bekommen einen Preisnachlass von 25%.</p>
          </article>
        </div>
        <div class="small-12 medium-6 column">
          <article>
            <h2>Wo</h2>

            <p>Die Therapiesitzungen finden im <a href="http://fengshuihaus-leipzig.de/"><b>Feng Shui Haus Leipzig</b></a>,
            Walter-Heinze-Str. 1, 04229 Leipzig, stat.</p><p>Der Eingang liegt an der Karl-Heine-Straße.</p>

            <div id="map" class="map" style="width: 100%; height: 230px;"></div>
          </article>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column text-center">
          <h1>Wünschen Sie einen Termin?</h1>
          <p>Ich freue mich auf Sie.</p>
          <h2>Kontakt</h2>
          <p>Email: <b>kontakt@heilpraktiker-frank-schneider.de</b><br>
            Mobil: <b>0178 / 333 59 99</b></p>
        </div>
      </div>
    </div>

{% endblock content %}

{% block foot_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock foot_script %}
